<%# the filter js function will use jQuery at the moment%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<%# container for all the Vinyl cards Filters%>
<div class="container align-items-right" style="box-shadow: none !important;">
  <div class="row align-items-right">
    <div class="col-lg-12">
    <%# # filter can be set by genre %>
      <ul class="filters">
        <li class="active" data-filter="*"><a href="#!">all</a></li>
        <li data-filter=".pop"><a href="#!">pop</a></li>
        <li data-filter=".electro"><a href="#!">electro</a></li>
        <li data-filter=".indie-rock"><a href="#!">indie-rock</a></li>
      </ul>
    <%# # cards for each Vinyl %>
      <div class="vinyls_card">
         <div class="row">
        <% @vinyls.each do |vinyl| %>
          <div class="col-12 col-sm-4 mb-4 item <%=vinyl.genre%>">
          <%# # for each row 3 cards 1 per vinly %>

            <div class="bg-white rounded shadow h-100">
              <a href="<%= vinyl_path(vinyl) %>" class="card-link text-decoration-none">
                <div class="text-center">
                  <% if vinyl.photo.attached? %>
                    <%= cl_image_tag vinyl.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid card-img" %>
                  <% else %>
                    <%= image_tag("vinyltwo.jpg", class: "img-fluid card-img", style: "width:300px !important; height:300px !important;") %>
                  <% end %>
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; "><%= vinyl.genre %></h2>
                    <h3 style="font-weight: bold;"><%= vinyl.title %></h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By <%= vinyl.artist %></h4>
                  </div>

                  <span class="price">$<%= sprintf("%.2f", vinyl.price) %></span>
                </div>
              </a>

            </div>

          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// filter function
(function(){

    'use strict';


    let $vinyls_card = $('.vinyls_card');

    $vinyls_card.isotope({
        itemSelector: '.item',
        layoutMode: 'fitRows'
    });

    $('ul.filters > li').on('click', function(e){

        e.preventDefault();

        let filter = $(this).attr('data-filter');

        $('ul.filters > li').removeClass('active');
        $(this).addClass('active');

        $vinyls_card.isotope({filter: filter});

    });

})(jQuery);
</script>
