<%# the filter js function will use jQuery at the moment%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<div class="container" style="box-shadow: none !important;">
  <div class="row">
    <div class="col-12" style="box-shadow: none !important;">
      <%# <h1>All Vinyls we have listed</h1> %>
      <% if @query %>
        <h2>You searched for <strong><%= @query %></strong>. We found <%= @vinyls.count %> vinyls out of our <%= Vinyl.count %> in our Archive for rental.</h2>
      <% else %>
        <h2>Currently there are <%= Vinyl.count %> Vinyls in our Archive for rental.</h2>
      <% end %>
    </div>
  </div>
</div>

<%# container for all the Vinyl cards Filters%>
<%= render "vinyls/vinylsall" %>

<script>
// filter function
(function(){

    'use strict';


    let $vinyls_card = $('.vinyls_card');

    $vinyls_card.isotope({
        itemSelector: '.item',
        layoutMode: 'fitRows'
    });

    $('ul.filters > li').on('click', function(e){

        e.preventDefault();

        let filter = $(this).attr('data-filter');

        $('ul.filters > li').removeClass('active');
        $(this).addClass('active');

        $vinyls_card.isotope({filter: filter});

    });

})(jQuery);
</script>
