<div class="container margin-top-negative">
  <div class="row">
    <div class="col-4">
      <% if @vinyl.photo.attached? %>
        <%= cl_image_tag @vinyl.photo.key, crop: :fill, class: "d-block w-100 h-100" %>
      <% else %>
        <img src="/assets/vinyltwo.jpg" class="d-block w-100 h-100">
      <% end %>
    </div>
    <div class="col-4">
      <div>
        <h3 class="text-primary pb-2" style="font-weight: bold;"><%= @vinyl.title %></h3>
        <p>By <%= @vinyl.artist %></p>
      </div>
      <div>
        <h5>A bit more about this vinyl...</h5>
        <p><%= @vinyl.description %></p>
  <hr>
        <%= link_to vinyl_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'ml-3 text-danger' do %>
        <i class="fa-solid fa-arrow-left"></i>Back to Vinyls
    <% end %>
      </div>
    </div>
    <%= render "shared/booking_form" %>
  </div>
</div>
