<div class="container margin-top-negative">
  <div class="row">
    <div class="col-4">
    <div class="container">
    <img
      <% if @vinyl.photo.attached? %>
        <%= cl_image_tag @vinyl.photo.key, crop: :fill, class: "d-block w-100 h-100" %>
      <% else %>
        <%= image_tag "vinyltwo.jpg", class:"d-block w-100 h-100"%>
      <% end %>
    >
    </div>
    </div>
    <div class="col-4">
        <h3 class="text-primary pb-2" style="font-weight: bold;"><%= @vinyl.title %></h3>
        <p>By <%= @vinyl.artist %></p>
        <hr><%= link_to "Back to Vinyls", vinyls_path, class:"btn btn-outline-secondary btn-sm float-right me-2" %></small >
        <h5>A bit more about this vinyl...</h5>
        <p><%= @vinyl.description %></p>
    </div>
    <div class="col-4">
        <%= render "shared/booking_form" %>
    </div>
  </div>
</div>
