<div class="container mt-0 mb-2">
  <%= link_to vinyls_path, class: "btn btn-outline-dark float-start bg-light mt-1" do %>
    <i class="fa-solid fa-chevron-left"></i> Browse Vinyls
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card mb-3 mt-3">
        <% if @vinyl.photo.attached? %>
          <%= cl_image_tag @vinyl.photo.key, crop: :fill, class: "card-img-top d-block w-100 h-100" %>
        <% else %>
          <%= image_tag "vinyltwo.jpg", class: "card-img-top d-block w-100 h-100" %>
        <% end %>
          <div class="card-body ml-2">
            <h3 class="text-flat pb-1 mb-0 mt-5" style="font-weight: bold;"><%= @vinyl.title %></h3>
            <p class="text-muted font-weight-normal mb-1">
              <%= sprintf("%.2f", @vinyl.price) %>CHF /day </i>
            </p>
            <p class="mb-1 d-inline-block"><i class="fa-solid fa-microphone-lines me-1"></i>
              <%= @vinyl.artist %>
            </p>
            <p class="text-justify" style="margin-top: 10px;"><%= @vinyl.description %></p>
          </div>
      </div>
    </div>
    <div class="col-6">
      <%= render "shared/booking_form" %>
    </div>
  </div>
</div>
