<div class="container">
  <h1>Rent Vinyl: <%= @vinyl.title %></h1>
  <%= form_with(model: [@vinyl, @booking]) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_area :address, class: "form-control", rows: 3 %>
    </div>
    <div class="mb-3">
      <%= form.label :shipping_method, class: "form-label" %>
      <%= form.select :shipping_method, options_for_select(["Standard", "Express"]), {}, class: "form-select" %>
    </div>
    <div class="mb-3">
      <%= form.label :payment_method, class: "form-label" %>
      <%= form.select :payment_method, options_for_select(["Credit Card", "PayPal", "Bank Transfer"]), {}, class: "form-select" %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
