<h3 style="text-align: center; text-transform: uppercase; letter-spacing: 4px; color: #414040;">Rent this Vinyl</h3>
<%#= link_to new_booking_path %>
    <%= simple_form_for([@vinyl, @booking]) do |b| %>
    <span style="margin: 0 10px;"><%= @vinyl.price %>CHF/Day <i class="fa-solid fa-money-bill"></i></span>
      <%= b.input :start_date, as: :date, html5: true %>
      <%= b.input :end_date, as: :date, html5: true %>
      <%= b.submit class: "btn custom-btn form btn-outline-secondary" %>
      <%#= link_to "Rent", new_vinyl_booking_path(@vinyl), class: "btn btn-flat btn-lg border mt-2 custom-btn", style: "width: 100%" %>
      <% end %>
