<h3 style="text-align: center; text-transform: uppercase; letter-spacing: 4px; color: #414040;">Rent this Vinyl</h3>
    <%= simple_form_for([@vinyl, @booking]) do |b| %>
    <span style="margin: 0 10px;"><%= @vinyl.price %>CHF/Day <i class="fa-solid fa-money-bill"></i></span>
      <%= b.input :firstname %>
      <%= b.input :lastname %>
      <%= b.input :address %>
      <span>How long do you would like to be your renting periode?</span>
      <%= b.input :start_date, as: :date, html5: true , input_html: {data: { rental_calculator_target: "startDate", action: "input->rental-calculator#calculate"}} %>
      <%= b.input :end_date, as: :date, html5: true, input_html: {data: { rental_calculator_target: "endDate", action: "input->rental-calculator#calculate" }} %>
      <span data-rental-calculator-target="totalPrice"></span>
      <span>Please provide your payment infomation:</span>
      <%= b.input :card_name %>
      <%= b.input :card_number %>
      <%= b.input :card_expiry %>
      <%= b.input :card_cvc %>
      <%= b.submit class: "btn custom-btn form btn-outline-secondary" %>
      <% end %>
