<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "VinylRent", root_path, class: "navbar-brand" %>
  <a class="navbar-brand mx-auto" href="#">
      <img src="/assets/vinyllogo.jpg">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto flex">
        <form class="flex my-2 my-lg-0">
          <input class="form-control me-2 search-bar" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn custom-btn my-2 my-sm-0" type="submit">Search</button>
        </form>

        <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn custom-btn my-2 my-sm-0 ms-2 d-flex align-items-center justify-content-center" %>
        <%= link_to "Your Offers", my_vinyls_path, class: "btn custom-btn my-2 my-sm-0 ms-2 d-flex align-items-center justify-content-center" %>
        <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn custom-btn my-2 my-sm-0 ms-2 d-flex align-items-center justify-content-center" %>
        <%= link_to "Sign Up",  new_user_registration_path, class: "btn custom-btn my-2 my-sm-0 ms-2 d-flex align-items-center justify-content-center" %>
        <% end %>
        <%# <%= link_to "Browse All", vinyls_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2 d-flex align-items-center justify-content-center" %>
        <%= link_to "Add Vinyl Offer", vinyls_new_path, class: "btn custom-btn my-2 my-sm-0 ms-2 d-flex align-items-center justify-content-center" %>

        <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= asset_path('avatar.jpg') %>
        <i class="fa-solid fa-circle-user fa-xl ms-2 align-items-center"></i>
      </div>
    </div>
  </div>
</nav>
